body {
  padding-top: 50px;
  
}

.banner {
  padding: 40px 15px;
  text-align: center;
  height: 860px;
  background-position:center top; 
  background-image: url("../images/parliament.jpg");
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .banner{
        background-image: url("../images/parliament@2x.jpg");
/*        background-size: 1000px;*/
        height: 535px;
    }
    .byline {
/*      padding-top: 140px;*/
    }
}

.address {
  padding: 40px 15px;
  background-color: #999;
}

.thoughts {
  display: none;
  padding-bottom: 50px;
}

.letter-section {
  padding-top: 40px;
}

textarea {  
  resize: none;
}

.sender {
  padding-top: 8px;
}

.send-letter {
  padding: 50px 0px;
  text-align: center;
}

#sender-address {
  font-size: 22px;
}

#rep {
  display: none;
  background-color: #eee;
  padding-bottom: 50px;
}

#mp {
  padding-top: 60px;
}

#postcode {
  text-align: center;
}
#postcode:focus {
  border-color: #f1c40f;
}
.parliament img{
    max-width:100% !important;
    height:auto;
    display:block;
}

.subtle {
  color: #888;
}

.progress-bar-inverse {
  background-color: #34495e;
}

.dark-bg {
/*  font-weight: bold;*/
  color: white;
}
.topic {
  margin-bottom: 4px;
}